<div class="dat">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col col-md-3">
    <div class="form-group row">
      <label class="col">
        Tên sách
        <input type="text" formControlName="name" class="form-control">
      </label>
    </div>
    <div *ngIf="form.get('name').invalid && form.get('name').touched" class="alert alert-danger">
      ít nhất 1 ký tự
    </div>
    <button class="btn btn-dark">Tạo sách</button>
  </form>
</div>
<h2 class="text-center">Danh sách đọc</h2>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Tên Sách</th>
    <th scope="col">Đã Đọc</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of bookList; index as i" [hidden]="!item.read">
    <th scope="row"><a>{{item.id}}</a></th>
    <td><a>{{item.name}}</a></td>
    <td><button (click)="done(i)">Đã Đọc</button></td>
  </tr>
  </tbody>
</table>
